.glide__slides{
    
    .gs1{
        background: url('../images/composition-desk-eyeglasses-393044.jpg') center center/cover no-repeat;
    }

    .gs2{
        background: url('../images/chairs-contemporary-designer-416320.jpg') center center/cover no-repeat;
    }
    
    .gs3{
        background: url('../images/coffee-cup-desk-317377.jpg') center center/cover no-repeat;
    }
}