.glide__slides{
    
    .gs1{
        background: url('../images/gg-new (1).jpg') center center/cover no-repeat;
    }

    .gs2{
        background: url('../images/gg-new (2).jpg') center center/cover no-repeat;
    }
    
    .gs3{
        background: url('../images/gg-new (3).jpg') center center/cover no-repeat;
    }
}