.global-boxes{
    // border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: white;
    margin-top: 40px;

    @media (max-width: 760px){
        grid-template-columns: 1fr;
    }
}