.home-counter-box{
    // background-color: pink;
    padding: 40px;
    text-align: center;

    .far, .fas{
        font-size: 3rem;
    }

    h1{
        font-size: 2.3rem;
        margin-top: 30px;
    }

    p{
        font-family: 'Oswald', sans-serif;
        margin-top: 10px;
    }
}