.news-bars{
    // border: 1px solid rgb(255, 255, 255);
    width: 90%;
    margin-top: 20px;
    overflow: hidden;

    .bar{
        // width: 90%;
        height: 5px;
        background-color: white;
        position: relative;
        margin: 20px 0;
        border-radius: 30px;
        animation: line-move 1s;
        
        @keyframes line-move {
            0%{
                opacity: 0;
                transform: translateX(-65%);
            }
            100%{
                opacity: 1;
                transform: translateX(0);
            }
        }

        p{
            position: absolute;
            top: -30px;
            left: 100%;
            padding: 5px;
            font-family: 'Montserrat', sans-serif;
            font-size: .9rem;
        }
   
        .perc{
            // position: absolute;
            // top: -30px;
            margin-left: 17px;
            padding: 5px;
            font-family: 'Montserrat', sans-serif;
            font-size: .9rem;
        }
    }

    .bar1{
        width: 75%;
    }
    .bar2{
        width: 85%;
    }
    .bar3{
        width: 60%;
    }
    .bar4{
        width: 50%;
    }
}