.price-box{
    // border: 1px solid blue;
    text-align: center;
    padding: 40px 0 20px 0;
    transition: box-shadow .3s;

    h2{
        text-transform: uppercase;
        font-size: 1.7rem;
        letter-spacing: 3px;
    }

    .mark{
        width: 100%;
        background-color: gray;
        padding: 40px 0 20px 0;
        margin-top: 20px;

        h1{
            font-size: 4rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }

        p{
            margin-top: 10px;
        }

    }
    
    .dark{
        background-color: black;
        color: white;
    }

    ul{
        margin-top: 20px;
        color: gray;

        li{
            margin-top: 15px;
            font-family: 'Montserrat', sans-serif;
            font-size: .9rem;
        }
    }

    a{
        display: inline-block;
        margin-top: 20px;
        padding: 15px 30px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: .8rem;
        font-weight: bold;
        background-color: gray;
        color: black;
        transition: all .3s;

        &:hover{
            background-color: black;
            color: white
        }
    }

    .dark-button{
        background-color: black;
        color: white;

        &:hover{
            background-color: gray;
            color: black;
        }
    }

    &:hover{
        box-shadow: 0 0 10px;
    }
}