.project-counter-box{
    // border: 1px solid blue;
    padding: 100px 20px;
    text-align: center;
    color: whitesmoke;

    h1{
        font-size: 3rem;

    }

    p{
        margin-top: 30px;
    }
}