.together-boxes{
    // background-color: pink;
    margin-top: 50px;
    display: flex;

    .together-box{
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        

        .fas, .far{
            font-size: 3rem;
            
            &:hover{
                animation: anim .9s infinite ease-in-out;
                @keyframes anim {
                    0%{
                        transform: scale(1);
                    }

                    100%{
                        transform: scale(1.3);
                    }
                }
            }
        }

        p, a{
            margin-left: 20px;
        }

        a{
            font-size: 1.1rem;
            color: white;
            font-family: 'Montserrat', sans-serif;
            transition: color .3s;

            &:hover{
                color: pink;
            }
        }

        @media (max-width: 960px){
            padding: 20px;

            .fas, .far{
                font-size: 2rem;



            }
    
            p, a{
                margin-left: 10px;
                font-size: .9rem;
            }
        }
    }

    @media (max-width: 760px){
        flex-direction: column;

        .together-box{
            justify-content: flex-start;
        }
    }
}