.news-clean{
    background-color: rgb(88, 88, 88);
    background-image: url('../images/11.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    width: 100%;
    padding: 80px 20px 100px 20px;
    color: white;

    .clean-content{
        // background-color: pink;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;

        h3{
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;
            word-spacing: 2px;
        }

        h1{
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            word-spacing: 5px;
            margin-top: 30px;
        }

        .clean-btn{
            display: inline-block;
            outline: 2px solid white;
            padding: 10px 20px;
            margin-top: 30px;
            text-transform: uppercase;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: .9rem;
            transition: all .3s;

            &:hover{
                outline: 2px solid rgb(187, 187, 187);
                background-color: white;
                color: black;
            }
        }
    }
}