.projects-choose{
    background-color: rgb(95, 94, 94);
    background-image: url('../images/black-desk-imac-9410.jpg');
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 10px;
    text-align: center;
    position: relative;

    .choose-hls{
        h1{
            font-size: 2rem;
            letter-spacing: 4px;
            word-spacing: 5px;
            margin-bottom: 100px;
            color: white;
        }
    }

    .project-arrows{

        .glide__arrow{
            border: none;
        }

        .glide__arrow--left{
            left: 10%;
        }

        .glide__arrow--right{
            right: 10%;
        }
    }
}