.services-blocks{
    // background-color: red;
    width: 100%;
    padding: 80px 10px;

    .services-blocks-content{
        // background-color: pink;
        max-width: 1000px;
        margin: 0 auto;
    }
}